:root {
  // Colors
  --white: #fff;
  --dark-white: #d9dadc;
  --light-green: #1ed760;
  --light-green-2: #2de26d;
  --green: #117a37;
  --blue: rgb(41, 65, 171);
  --grey: #919496;
  --dark-grey: #222326;
  --black: #000;

  // Fonts
  --font: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}
