.btn {
  position: relative;
  display: inline-block;
  border-radius: 3rem;
  touch-action: manipulation;
  align-self: center;
  vertical-align: middle;
  border: 2px solid transparent;

  &-content {
    padding: 1.4rem 3.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-radius: 3rem;
    border: 0;
  }

  &-focus-border {
    position: absolute;
    display: block;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 3px solid transparent;
    border-radius: 3rem;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.03);
  }

  &:active,
  &:focus,
  &:focus-visible {
    .btn-focus-border {
      &-white {
        border-color: var(--white);
      }

      &-black {
        border-color: var(--black);
      }
    }
  }

  &-green {
    background-color: var(--light-green);
    border-color: var(--light-green);

    &:hover {
      background-color: var(--light-green-2);
      border-color: var(--light-green-2);
    }
  }

  &-black {
    color: var(--white);
    background-color: var(--light-black);
    border-color: var(--light-black);

    &:hover {
      background-color: var(--black);
      border-color: var(--black);
    }
  }

  &-transparent {
    color: var(--white);
    background-color: rgba($color: #000000, $alpha: 0);
    border-color: var(--white);

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
}
