* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  font-family: $font;
  height: 200vh;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}
