header {
  width: 100%;
  height: 8rem;
  position: relative;
  background-color: var(--black);

  @include responsive(medium, small) {
    height: 5.4rem;
  }

  @include responsive(extra-small) {
    height: 5.4rem;
  }

  .header-content {
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include responsive(large) {
      max-width: 970px;
    }

    @include responsive(medium, small) {
      max-width: 750px;
    }

    a {
      height: 52%;
      color: var(--white);

      img.logo {
        max-height: 100%;
      }
    }

    nav.header-navigation-list {
      ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--white);

        li {
          a {
            padding: 0 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            cursor: pointer;
            color: var(--white);

            &:hover {
              color: var(--light)-green;
            }
          }

          &.divider {
            width: 1px;
            height: 16px;
            padding: 0;
            margin: 0 1.7rem;
            display: inline-block;
            background-color: var(--white);
          }

          &.authentification {
            color: var(--dark)-white;
          }

          &:last-child {
            padding-right: 0px;
          }
        }
      }

      @include responsive(medium, small, extra-small) {
        display: none;
      }
    }
  }
}
